/* Page 71 */

.list71,
.p71 {
  text-transform: uppercase;
  font-size: 14px;
  padding-top: 1rem;
}

.items-71 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.item-71-left {
  width: 300px;
  height: 450px;
  min-width: 300px;
  margin-right: 2rem;
  font-family: "Kodchasan";
  font-weight: 600;
}

.item-71-left-image {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  background-image: url("../assets/img/levels.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes item-71-image {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes item-71-image-down {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.item-71-left img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}

.item-71-right {
  /* max-width: 710px; */
  min-width: 440px;
  /* height: 400px; */
  margin-left: 2rem;
  color: rgb(271, 245, 248);
  position: relative;
  z-index: 2;
}

.item-71-right-content-child h2 {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.item-71-right-content-child p {
  font-weight: 400;
  font-style: normal;
  color: rgb(271, 245, 248);
  font-kerning: none;
  text-decoration: none;
  padding: 1rem 0;
  text-align: justify;
}

.item-71-right-content-child ul {
  /* list-style: none; */
  padding: 0 20px 1rem;
}

@keyframes item-71-content {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes item-71-content-down {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.item-71-right-content-child h2 {
  transition: transform 1s ease-out; /* For smooth sliding effect */
}
.item-71-right-content-child h2.slide-in {
  transform: translateX(0); /* Move to the visible position */
  animation-name: item-71-content;
  animation-duration: 1s;
}

.item-71-right-content-child h2.slide-out {
  transform: translateX(-10%); /* Slide out to the left */
  animation: item-71-content-down 1s forwards;
}

.item-71-right-content-child h3 {
  transition: transform 1s ease-out; /* For smooth sliding effect */
}
.item-71-right-content-child h3.slide-in {
  transform: translateX(0); /* Move to the visible position */
  animation-name: item-71-content;
  animation-duration: 1s;
}

.item-71-right-content-child h3.slide-out {
  transform: translateX(-10%); /* Slide out to the left */
  animation: item-71-content-down 1s forwards;
}
