/* Page 69 */

.items-69 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem;
}

.item-69-left {
  width: 300px;
  height: 450px;
  min-width: 300px;
  margin-right: 2rem;
  font-family: "Kodchasan";
  font-weight: 600;
}

.item-69-left-image {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  background-image: url("../assets/img/width-200_9.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  top: -80px;
}

@keyframes item-69-image {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes item-69-image-down {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.item-69-left .join-us {
  position: relative;
  display: flex;
  flex-direction: column;
  top: -200px;
  left: 220px;
}

.join-us .arrow-gif {
  position: absolute;
  top: 5rem;
  right: 5rem;
}

.item-69-right {
  /* max-width: 690px; */
  min-width: 440px;
  /* height: 400px; */
  margin-left: 2rem;
  color: rgb(269, 245, 248);
  position: relative;
  z-index: 2;
}

.item-69-right-content-child h2 {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.item-69-right-content-child p {
  font-weight: 400;
  font-style: normal;
  color: rgb(269, 245, 248);
  font-kerning: none;
  text-decoration: none;
  padding: 1rem 0;
  text-align: justify;
}

.item-69-right-content-child ul {
  /* list-style: none; */
  padding: 0 20px 1rem;
}

@keyframes item-69-content {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes item-69-content-down {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.item-69-right-content-child h2 {
  transition: transform 1s ease-out; /* For smooth sliding effect */
}
.item-69-right-content-child h2.slide-in {
  transform: translateY(0); /* Move to the visible position */
  animation-name: item-69-content;
  animation-duration: 1s;
}

.item-69-right-content-child h2.slide-out {
  transform: translateY(200%); /* Slide out to the left */
  animation: item-69-content-down 1s forwards;
}

.item-69-left-image {
  transition: transform 1s ease-out; /* For smooth sliding effect */
  transform: translateX(100%); /* Initially off-screen to the left */
}

.item-69-left-image.slide-in {
  transform: translateX(0); /* Move to the visible position */
  animation: item-69-image 1s forwards;
}

.item-69-left-image.slide-out {
  transform: translateX(-50%); /* Slide out to the left */
  animation: item-69-image-down 1s forwards;
}
