.main-section-flex {
  display: flex;
}

.main img {
  display: block;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(247, 245, 248);
  font-family: "Roboto", serif;
}

.container h1 {
  font-size: 3rem;
  padding-top: 2.5rem;
}

.container h2 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-width {
  background-color: rgb(237, 12, 93);
  width: 180px;
  height: 300px;
  border-radius: 16px;
}

.item-right {
  margin: 16px;
}

.item-left {
  margin: 16px;
}

.item-top-right {
  margin: 16px;
}

.item-top-left {
  margin: 16px;
}

.next-div-1 {
  position: fixed;
  top: 90vh;
  right: 16px;
  display: flex;
}

.next-div-1 img {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  margin-left: 4px;
}

.next-div-1 a {
  text-decoration: none;
  color: rgb(247, 245, 248);
}

/* Desktop View (for screens larger than 768px) */
@media (min-width: 769px) {
  .main-section-flex {
    display: flex;
    justify-content: center;
  }

  .main img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(247, 245, 248);
    font-family: "Roboto", serif;
  }

  .container h1 {
    font-size: 4rem;
    padding-top: 2.5rem;
  }

  .container h2 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
  }

  .items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .item-width {
    background-color: rgb(237, 12, 93);
    width: 180px;
    height: 300px;
    border-radius: 16px;
  }

  .item-right {
    margin: 40px 40px 40px 20px;
  }

  .item-left {
    margin: 40px 20px 40px 20px;
  }

  .item-top-right {
    margin: -88px 60px 40px 80px;
  }

  .item-top-left {
    margin: -88px 80px 40px 60px;
  }

  .next-div-1 {
    position: absolute;
    top: 90vh;
    left: 89vw;
    display: flex;
  }

  .next-div-1 img {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    margin-left: 4px;
  }

  .next-div-1 a {
    text-decoration: none;
    color: rgb(247, 245, 248);
  }
}

@media (min-width: 769px) {
  .main-section-flex {
    display: flex;
  }

  .main img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(247, 245, 248);
    font-family: "Roboto", serif;
  }

  .container h1 {
    font-size: 4rem;
    padding-top: 2.5rem;
  }

  .container h2 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
  }

  .items {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .item-width {
    background-color: rgb(237, 12, 93);
    width: 180px;
    height: 300px;
    border-radius: 16px;
  }

  .item-right {
    margin: 40px 40px 40px 20px;
  }

  .item-left {
    margin: 40px 20px 40px 20px;
  }

  .item-top-right {
    margin: -88px 60px 40px 80px;
  }

  .item-top-left {
    margin: -88px 80px 40px 60px;
  }

  .next-div-1 {
    position: fixed;
    top: 90vh;
    right: 16px;
    display: flex;
  }

  .next-div-1 img {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    margin-left: 4px;
  }

  .next-div-1 a {
    text-decoration: none;
    color: rgb(247, 245, 248);
  }

  /* Desktop View (for screens larger than 768px) */
  @media (min-width: 769px) {
    .main-section-flex {
      display: flex;
      justify-content: center;
    }

    .main img {
      display: block;
      width: 100%;
      height: 100%;
    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: rgb(247, 245, 248);
      font-family: "Roboto", serif;
    }

    .container h1 {
      font-size: 4rem;
      padding-top: 2.5rem;
    }

    .container h2 {
      font-size: 2.5rem;
      padding-bottom: 1rem;
    }

    .items {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .item-width {
      background-color: rgb(237, 12, 93);
      width: 180px;
      height: 300px;
      border-radius: 16px;
    }

    .item-right {
      margin: 40px 40px 40px 20px;
    }

    .item-left {
      margin: 40px 20px 40px 20px;
    }

    .item-top-right {
      margin: -88px 60px 40px 80px;
    }

    .item-top-left {
      margin: -88px 80px 40px 60px;
    }

    .next-div-1 {
      position: absolute;
      top: 90vh;
      left: 89vw;
      display: flex;
    }

    .next-div-1 img {
      width: 24px;
      height: 24px;
      border-radius: 12px;
      margin-left: 4px;
    }

    .next-div-1 a {
      text-decoration: none;
      color: rgb(247, 245, 248);
    }
  }
}
