* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

body {
  background-image: url("./assets/img/width_1402.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-section {
  width: 100%;
  height: 100%;
  background-image: none;
}

.read-more {
  font-size: 16px;
  position: absolute;
  bottom: 8px;
  min-width: 116px;
}

.read-more a {
  font-weight: 600;
  color: rgb(237, 12, 93);
}

/* Default Desktop Styles (already in your CSS) */

/* Mobile View (for screens up to 768px wide) */
@media (min-width: 769px) {
  .main-section {
    width: 100%;
    height: 100%;
    background-image: url("./assets/img/width_1402.jpg");
    min-height: calc(100vh - 50px);
    max-height: calc(100vh - 50px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
